html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0%;
}

main {
  background-color: #2d3142ff;
  width: 100vw;
  height: 100vh;
}

.signUp {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-input {
  width: 450px;
  padding: 12px;
  margin: 8px 0;
  display: flex;
  margin-bottom: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.card {
  margin-bottom: 1rem;
  width: 450px;
  background-color: #282b3bff;
  border-radius: 60px;
  padding: 50px
}

.card-header {
  color: #715b64ff;
  text-align: center;
  font-size: 40px;
}

.card-body {
  padding: 0.375rem;
  display: flex;
  justify-content: center;
}

.home-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.signupBtn {
  width: 115px;
  height: 50px;
  border-radius: 20px;
  background-color: #715b64ff;
  color: white;
  border: none;
  font-size: 20px;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 16px;
  color: #1a1a1a;
}

.home-main {
  background-color: #2d3142ff;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.main-body {
  width: 1000px;
  height: 100%;

}

.post {
  width: 100%;
  height: 300px;
  background-color: #282b3bff;
  margin-top: 100px;
  border-radius: 25px;
  justify-content: center;
  display: flex;
}

.postBtn {
  width: 115px;
  height: 50px;
  border-radius: 20px;
  background-color: #715b64ff;
  color: white;
  border: none;
  font-size: 20px;
}

.post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input {
  width: 700px;
  padding: 12px;
  margin: 80px;
  margin-bottom: 50px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #b2cede;
  font-size: larger;
}

.activity {
  width: 100%;
  height: 100%;
  background-color: #282b3bff;
  margin-top: 100px;
  border-radius: 25px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
}

h1 {
  text-align: center;
  color: #b2cede;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

h2 {
  text-align: center;
  color: #b2cede;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

.friendPost {
  width: 90%;
  height: 350px;
  background-color: #2d3142ff;
  border-radius: 25px;
  margin: 20px;
  padding-top: 30px;
}

.book-info {
  text-align: center;
  color: #b2cede;
}

.username {
  text-decoration: none;
  color: #715b64ff;
  padding: 20px;
}

.bookreview {
  color: #b2cede;
  padding: 10px;
  text-align: center;
  line-height: 1.5;
  padding-left: 20px;
  padding-right: 20px;

}

.reactions {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 30px;

}

.stars {
  color: yellow;
}

.heart {
  color: red;
}

.comment-form {
  height: 100px;
  display: flex;
  align-items: center;
}

.comment-input {
  width: 500px;
  padding: 12px;
  margin: 80px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #b2cede;
  font-size: larger;
}

.pageError {
  margin: 0;
  height: 100vh;
  color: white;
  font-size: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 2;
}
.reading-Img {
  height: 400px;
  width: 600px;
  margin: 15px;
  display: flex;
  justify-content: center;
}